body {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

.row {
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 27%;
}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#header {
    background-color: #ff4400;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#header h1 {
    margin-top: 0;
}

nav li {
    display: inline-block;
    text-decoration: none;
}

.button {
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 3px;
}