/*
<%--
    Evan Tellep and Jake Reilman
    Prof. Bill Nicholson
    ASP.NET
    Assignment 07
    3/22/17
    Assn Desc: Creating web form to generate reports
    Ref:  
--%>
*/

.reportCell {
    border-top: 1px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
}