<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <connectionStrings>
    <add name="tellepetDB" connectionString="Data Source=IL-Server-001.uccc.uc.edu\MSSQLSERVER2012;Initial Catalog=tellepet;Persist Security Info=True;User ID=tellepet;Password=dude" providerName="System.Data.SqlClient"/>
    <add name="GroceryStoreSimulatorConnectionString" connectionString="Data Source=il-server-001.uccc.uc.edu\mssqlserver2012;Initial Catalog=GroceryStoreSimulator;Persist Security Info=True;User ID=GroceryStoreSimulatorWebFormLogin;Password=RememberTheCat" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>