<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <connectionStrings>
      <add name="GroceryStoreSimulator" connectionString="Data Source=IL-Server-001.uccc.uc.edu\MSSQLSERVER2012;Initial Catalog=GroceryStoreSimulator; Persist Security Info=True; User ID=GroceryStoreSimulatorWebFormLogin; Password=RememberTheCat" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
